<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter - Exam 2</title>
</head>
<body>
    <h1>Random Currency Conversion</h1>

    <!-- Only shows this button at first -->
    <form action="/convert" method="get">
        <button type="submit">Load</button>
    </form>
</body>
</html>
